
@{
    ViewBag.Title = "Hlavní stránka";
}

<h1 class="text-center">Vítej, ve skutečném světě. velké &#352;</h1>
<p>Bacon ipsum dolor amet tenderloin turducken beef tail ribeye bacon ham hock.
     Jerky corned beef t-bone tongue bacon sausage. Rump venison sirloin doner
     leberkas pork belly ball tip. Meatloaf capicola pastrami biltong turducken
     salami. Jerky ribeye cupim chicken. Ribeye swine burgdoggen, frankfurter
     bacon porchetta sausage.</p>
<div class="jumbotron">
    <h1>Kup můj obraz!</h1>
    <p>Bacon ipsum dolor amet meatloaf shankle beef flank venison t-bone pork belly jowl short ribs cow boudin jerky turkey. </p>
</div>
