@model onlinePlatby.Models.ViewModels.ProductVM
@{
    ViewBag.Title = "Detail Produktu - " + Model.ProductVariant.UniqueCombination;
}
@section styles{ 
    <link href="~/Content/lightbox.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/lightbox-2.6.js"></script>
}

    <h2>@Model.ProductVariant.UniqueCombination</h2>

    @* Product main image & Description *@
    <div class="row">
        <div class="productImage col-md-6 col-sm-12">
            <img src="@Model.MainImageFilePath" alt="obrázek produktu" />
        </div>
        <div class="col-md-6 col-sm-12">
            <div>
                <h3>Popis produktu</h3>
                <p>
                    @Model.Product.ShortDescription
                </p>
            </div>
            <div>
                <a class="btn btn-primary">Přidat do košíku</a>
            </div>
        </div>
    </div>

    @*Other photos*@
    @*<div id="productImages" class="row">
        <div class="wrapper">
            <a data-lightbox="productImages" href="http://placehold.it/1600x700"><img src="http://placehold.it/400x300" alt="obrázek produktu 1" /></a>
            <a data-lightbox="productImages" href="http://placehold.it/1600x800"><img src="http://placehold.it/400x300" alt="obrázek produktu 2" /></a>
            <a data-lightbox="productImages" href="http://placehold.it/1600x900"><img src="http://placehold.it/400x300" alt="obrázek produktu 3" /></a>
            <a data-lightbox="productImages" href="http://placehold.it/1600x1000"><img src="http://placehold.it/400x300" alt="obrázek produktu 4" /></a>
        </div>
    </div>*@

    @*Big Description*@
    <div class="row">
        <h3>Popis produktu</h3>
        @Html.Raw(Model.Product.LongDescription)
    </div>
