
@{
    ViewBag.Title = "Objednávka je úspěšná";
}

<h2 class="text-center">Vaše objednávka byla úspěšně dokončena</h2>

<p>Děkujeme za váš nákup.</p>

<a href="@Url.Action("Index", "Home")">Zpět do obchodu</a>